/*** general styling */
.ui-page.ui-body-c{
	background:url(images/bg.png);
}

#titleImage{
	background:url(images/home.png);
	background-repeat:no-repeat;
	background-position: center top; 
	height:525px;
	width:auto;
	text-align: center;
    padding-bottom: 25px;
    margin: 0;
    line-height: 200px;
}

.info{
	text-align:center;
}

.choice_list{
	padding-top: 25px;
}

h1{
	text-shadow: none;
}

h3{
	text-shadow: none;
}

#home ul{
	background-color: #991635;
	display:table;
	border-spacing: 10px;
    border-collapse: separate;
	border-radius: 25px;
	width: 70%;
}

#main ul{
	background-color: #991635;
	display:table;
	border-spacing: 10px;
    border-collapse: separate;
	border-radius: 25px;
	width: 70%;
}




